@charset "UTF-8";

:root {
   --computer-modern: "Computer Modern Dunhill", "Computer Modern", "Century Schoolbook", "Century Schoolbook L", "New Century Schoolbook", "TeX Gyre Schola", "Theano Modern Regular", Garamond, Georgia, Baskerville, Palatino, "Palatino Linotype", Didot, Bodoni, serif;
   --monospace: Inconsolata, Consolas, "Andale Mono", AndaleMono, monospace;
   --no-numbers: Garamond, "Goudy Old Style", Georgia, Baskerville, Bodoni, "Bodoni MT", Palatino, "Palatino Linotype", Gentium, Didot, serif; /* for text without numbers */
   --railway: Railway, Futura, "Century Gothic", Geneva, Tahoma, Verdana, sans-serif;
   --with-numbers: Palatino, "Palatino Linotype", Gentium, Didot, serif; /* for text with numbers */
}

a {
   text-decoration: none;
}

a:link {
   color: #806040;
}

a:visited {
   color: #406080;
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: #606060;
}

body {
   align-items: center;
   background-color: #f4f8fc;
   background-image: url(frac.gif);
   color: #002040;
   display: flex;
   flex-wrap: wrap;
   font-family: var(--with-numbers);
   justify-content: center;
   text-rendering: optimizeLegibility;
}

fieldset {
   background-color: #f4f8fc;
   background-image: none;
   border-color: #a0c0e0;
   border-style: solid;
   border-width: 1px 0px;
   margin: 0em 1em 1em 1em;
}

legend {
   background-color: #f4f8fc;
   background-image: none;
   border: none;
   font-family: var(--with-numbers);
   font-size: 150%;
   margin: none;
   padding: 3px 9px;
}

p.extra-info {
   text-align: center;
}

.education {
   align-items: center;
   display: grid;
   grid-template-areas:
      "washu-logo washu-education"
      "tamu-logo  tamu-education";
}

.education img {
   margin: 3px 0px;
}

.education ul {
   margin: 0px;
}

.education > .tamu-education {
   grid-area: tamu-education;
}

.education > .tamu-logo {
   grid-area: tamu-logo;
}

.education > .washu-education {
   grid-area: washu-education;
}

.education > .washu-logo {
   grid-area: washu-logo;
}

.email {
   font-family: var(--monospace);
}

.overall-info {
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-family: var(--computer-modern);
   font-size: 125%;
   gap: 10px;
   justify-content: center;
}

.overall-info > div {
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
}

.overall-info > div:first-child {
   font-size: 200%;
}

::selection {
   background-color: rgb(255, 255, 170);
}
