@charset "UTF-8";

@import url(fonts.css);

body {
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   text-rendering: optimizeLegibility;
}

div div {
   border-color: rgb(0, 0, 0);
   border-style: solid;
   border-width: 1px;
   font-size: 400%;
   padding: 5px;
   text-align: center;
}

.atkinson-hyperlegible {
   font-family: "Atkinson Hyperlegible", cursive;
}

.cantarell {
   font-family: Cantarell, cursive;
}

.chunkfive {
   font-family: Chunkfive, cursive;
}

.computer-modern {
   font-family: "Computer Modern", cursive;
}

.computer-modern-dunhill {
   font-family: "Computer Modern Dunhill", cursive;
}

.computer-modern-sans-serif {
   font-family: "Computer Modern sans-serif", cursive;
}

.computer-modern-small-caps {
   font-family: "Computer Modern small caps", cursive;
}

.consolas {
// font-family: Consolas, Inconsolata, Monaco, "Andale Mono", AndaleMono, monospace;
   font-family: Consolas, cursive;
}

.digital-dream {
   font-family: "Digital Dream", cursive;
}

.fantasque-sans-mono {
   font-family: "Fantasque Sans Mono", cursive;
}

.inconsolata {
// font-family: Inconsolata, Consolas, Monaco, "Andale Mono", AndaleMono, monospace;
   font-family: Inconsolata, cursive;
}

.kingthings-calligraphica {
   font-family: "Kingthings Calligraphica", cursive;
}

.kingthings-calligraphica-italic {
   font-family: "Kingthings Calligraphica Italic", cursive;
}

.kingthings-calligraphica-light {
   font-family: "Kingthings Calligraphica Light", cursive;
}

.noto-sans-mono {
// font-family: "Noto Sans Mono", Inconsolata, Consolas, Monaco, "Andale Mono", AndaleMono, monospace;
   font-family: "Noto Sans Mono", cursive;
}

.outfit {
   font-family: Outfit, cursive;
}

.playbill {
   font-family: Playbill, cursive;
}

.railway {
// font-family: Railway, Futura, Geneva, Tahoma, Verdana, Helvetica, sans-serif;
   font-family: Railway, cursive;
}

.rokkitt {
// font-family: Rokkitt, Futura, Geneva, Tahoma, Verdana, Helvetica, sans-serif;
   font-family: Rokkitt, cursive;
}

.rubik {
   font-family: Rubik, cursive;
}

.smokum {
   font-family: Smokum, cursive;
}

.tex-gyre-schola {
// font-family: "TeX Gyre Schola", "Computer Modern Dunhill", "Computer Modern", "Century Schoolbook", "Century Schoolbook L", "New Century Schoolbook", "Theano Modern Regular", Garamond, Georgia, Baskerville, Palatino, "Palatino Linotype", Didot, Bodoni, serif;
   font-family: "TeX Gyre Schola", cursive;
}
